.movie-content-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
/*    overflow: hidden;*/
}


.movie-image-bg {
    width: 100%;
    height: 100vh;
    position: relative;
    filter: brightness(80%);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 1;
}

.movie-image-bg::before {
    content: "";
    position: absolute;
    inset: 0px;
    z-index: 2;
    background: linear-gradient(40deg, rgb(22, 22, 22) 24.16%, rgba(6, 10, 23, 0) 56.61%), linear-gradient(0deg, rgb(22, 22, 22) 3.91%, rgba(6, 10, 23, 0) 69.26%);
}

.movie-info {
    position: absolute;
    bottom: 32px;
    width: 100%;
    height: auto;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.movie-info-right {
    width: 65%;
    height: fit-content;
    display: flex;
    justify-content: start;
    gap: 24px;
    /* margin: 0 auto; */
    /* height: auto; */
}

.movie-poster {
    width: 280px;
    height: 375px;
    object-fit: cover;
    border-radius: 16px;
}

.movie-info-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
}

.movie-name {
    font-size: var(--text-4xl);
    font-weight: bold;
}
.time {
    font-size: var(--text-md);
}
.play-trailer-btn {
    background-color: rgb(240, 40, 40);
    border: none;
    border-radius: 8px;
    outline: none;
    color: white;
    padding: 12px 16px;
    font-size: var(--text-md);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.movie-description {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    color: rgb(218, 218, 218);

    font-size: var(--text-lg);
}

.movie-description.expanded {
    -webkit-line-clamp: unset; /* bỏ giới hạn dòng */
}

.toggle-btn {
    /* margin-top: 8px; */
    border: none;
    background: none;
    color: #ffd000;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
}

.movie-genres {
    display: flex;
    gap: 8px;
}

.movie-genres-item {
    padding: 4px 8px;
    background-color: black;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
}

.movie-genres-item:hover {
    color: rgb(255, 239, 18);
}


/*  */
.cinema-layout {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 64px;
}

.cinema-list {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
}

.cinema-wrapper {
    border-bottom: 1px solid rgb(136, 136, 136);
    padding: 24px 0;
}

    .cinema-wrapper:last-child {
        border-bottom: none;
    }

.cinema-logo {
    width: 70px;
    height: 70px;
}

.cinema-name {
    font-size: 16px;
}

.cinema-address {
    font-size: 13px;
}

.day-list, .showtime-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.showtime-item, .day {
    font-size: 13px;
    border: 1px solid #2192fc;
    border-radius: 4px;
    padding: 4px 8px;
    color: #2192fc;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

    .showtime-item:hover, .day:hover {
        /* border: 1px solid white; */
        background-color: #0084FF;
        color: white;
    }

.show-cinema-toggle {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.cinema-wrapper.collapsed .showtime-list {
    display: none;
}

.cinema-wrapper.expanded .show-cinema-toggle {
    transform: rotate(180deg);
}

/* COLUM 2 - cinema layout */
.movie-list {
    margin-top: 24px;
}

.movie {
    display: flex;
    gap: 16px;
}

/* Comment */

.comment-input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
@media (max-width: 1200px) {
    .movie-info {
        bottom: 32px;
    }
}

@media (max-width: 768px) {
    .movie-content-wrapper {
        padding-top: 80px;
    }
    .movie-image-bg {
        aspect-ratio: 16 / 9;
        width: 100%;
        height: 100%;
    }
    .movie-info {
/*        top: 0;
        bottom: auto;*/
    }
    .movie-info-right {
        margin-top: 16px;
        width: 95%;
        gap: 0;
    }

    .movie-poster {
/*        width: 100%;
        height: auto;*/
        display: none;
    }

    .movie-name-image {
        width: 100%;
        height: auto;
    }
    .movie-description {
        font-size: var(--text-md);
    }

    .cinema-layout {
        grid-template-columns: repeat(1, 1fr);
    }

    .play-trailer-btn{
/*        font-size: 13px;*/
    }

    .movie-genres-item {
        font-size: var(--text-md);
    }
}
