/* Trending movies section */
.trending-movies-title {
    margin-top: 80px;
    color: white;
    font-size: 32px;
    font-style: italic;
    text-align: center;
/*    margin-bottom: 24px;*/
    font-weight: bold;
    background: linear-gradient(45deg, #F7D793, #ff9900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.trending-movies-list {
    position: relative;
    display: flex;
    gap: 24px;
    width: 100%;
    overflow: hidden;
}

.carousel {
    position: relative;
    display: flex;
    gap: 24px;
    width: 100%;
    overflow-x: auto;
    transition: all 0.3s ease;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.trending-movie-wrapper {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
    overflow: hidden;

    scroll-snap-align: start;
}

.trending-movie-thumbnail {
    overflow: hidden;
    background-color: #161414;
}

.trending-movie-wrapper:nth-child(odd) .trending-movie-thumbnail {
    -webkit-clip-path: polygon(94.239% 100%, 5.761% 100%, 5.761% 100%, 4.826% 99.95%, 3.94% 99.803%, 3.113% 99.569%, 2.358% 99.256%, 1.687% 98.87%, 1.111% 98.421%, .643% 97.915%, .294% 97.362%, .075% 96.768%, 0 96.142%, 0 3.858%, 0 3.858%, .087% 3.185%, .338% 2.552%, .737% 1.968%, 1.269% 1.442%, 1.92% .984%, 2.672% .602%, 3.512% .306%, 4.423% .105%, 5.391% .008%, 6.4% .024%, 94.879% 6.625%, 94.879% 6.625%, 95.731% 6.732%, 96.532% 6.919%, 97.272% 7.178%, 97.942% 7.503%, 98.533% 7.887%, 99.038% 8.323%, 99.445% 8.805%, 99.747% 9.326%, 99.935% 9.88%, 100% 10.459%, 100% 96.142%, 100% 96.142%, 99.925% 96.768%, 99.706% 97.362%, 99.357% 97.915%, 98.889% 98.421%, 98.313% 98.87%, 97.642% 99.256%, 96.887% 99.569%, 96.06% 99.803%, 95.174% 99.95%, 94.239% 100%);
}

.trending-movie-wrapper:nth-child(even) .trending-movie-thumbnail {
    -webkit-clip-path: polygon(5.761% 100%, 94.239% 100%, 94.239% 100%, 95.174% 99.95%, 96.06% 99.803%, 96.887% 99.569%, 97.642% 99.256%, 98.313% 98.87%, 98.889% 98.421%, 99.357% 97.915%, 99.706% 97.362%, 99.925% 96.768%, 100% 96.142%, 100% 3.858%, 100% 3.858%, 99.913% 3.185%, 99.662% 2.552%, 99.263% 1.968%, 98.731% 1.442%, 98.08% .984%, 97.328% .602%, 96.488% .306%, 95.577% .105%, 94.609% .008%, 93.6% .024%, 5.121% 6.625%, 5.121% 6.625%, 4.269% 6.732%, 3.468% 6.919%, 2.728% 7.178%, 2.058% 7.503%, 1.467% 7.887%, .962% 8.323%, .555% 8.805%, .253% 9.326%, .065% 9.88%, 0 10.459%, 0 96.142%, 0 96.142%, .075% 96.768%, .294% 97.362%, .643% 97.915%, 1.111% 98.421%, 1.687% 98.87%, 2.358% 99.256%, 3.113% 99.569%, 3.94% 99.803%, 4.826% 99.95%, 5.761% 100%);
}

.trending-movie-thumbnail img {
    transition: all 0.3s ease;
    display: block;
    z-index: 1;
}
/* .trending-movie-thumbnail:hover img{
    transform: scale(1.1);
} */
.movie-thumbnail-content {
    position: relative;
}
}

.movie-rating {
    background-color: rgba(3, 3, 3, 0.651);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px); /* hỗ trợ Safari */
    width: fit-content;
    padding: 8px 12px;
    border-radius: 8px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 10;
    color: #FFCC00;
}

.trending-movie-info {
    padding: 16px 0px;
    display: flex;
    align-items: start;
    gap: 12px;
}

    .trending-movie-info .rank {
        font-size: 48px;
        font-weight: bold;
        line-height: 1;
        font-style: italic;
        background: linear-gradient(45deg, #F7D793, #ff9900);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.trending-movie-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.trending-movie-author {
    font-size: 16px;
    color: white;
}


.carousel-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 0; /* ẩn */
    visibility: hidden; /* tránh click khi ẩn */
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.prev-btn, .next-btn {
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(4px);
    background-color: #1a1919a2;
    -webkit-backdrop-filter: blur(4px); /* hỗ trợ Safari */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.next-btn {
    right: 0;
}

.trending-movies-list:hover .carousel-controls {
    opacity: 1;
    visibility: visible;
}

/* schedule-bar */
.schedule-bar {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
    margin-bottom: 32px;
}

.schedule-bar__update {
    background: linear-gradient(#009FFD, #2A2A72);
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.schedule-bar__day {
    background-color: #474747;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

/* Danh sach phim dang chieu & sap chieu */
.movies-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}
.movie-item {
    cursor: pointer;
}

.movies-title {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.movie-thumbnail {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.movie-thumbnail img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.movie-info {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 12px 12px;
    background: linear-gradient(to top, #0d0d0d, #0000);
    width: 100%;
}

.movie-name {
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.movie-author {
    text-wrap: nowrap;
    color: rgb(204, 204, 204);
}

@media (max-width: 768px) {
    .trending-movie-name {
        font-size: 16px;
        text-wrap: nowrap;
    }
    .trending-movie-author {
        font-size: 13px;
    }
    .schedule-bar {
        grid-template-columns: repeat(4, 1fr);
    }

    .movies-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
