/* .main-ctn{
    height: 100vh;
    position: relative;
    align-items: center;
}
.curve-container {
    display: flex;
    justify-content: center;
} */

/* .screen {
    width: 60%;
    height: 40px;
    background: linear-gradient(to bottom, #4d13ec, #7354fc);
    border-radius: 100% 100% 0 0; 
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: #ffffff;
} */

.popup-cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.32, 0.94, 0.6, 1) 67ms;
}

    .popup-cover.show {
        opacity: 1;
        pointer-events: auto;
    }

.popup-container {
    width: 60%;
    height: 90%;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.popup-header {
    background-color: #e50914;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#close-popup-btn {
    /* position: absolute;
    right: 16px;
    top: 50%; */
}

#board {
    /* width: 100%;
    height: 100%; */
    flex: 1;
    background-color: #120535;
}

.booking-summary {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* Ticket info */
.ticket-info {
    flex: 1;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    background: #fff;
}

/* Tuổi giới hạn */
.movie-age {
    display: inline-block;
    background: #f1c40f;
    color: #000;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 8px;
}

/* Tên phim & suất chiếu */
.movie-title {
    font-weight: bold;
    font-size: 18px;
}

.movie-session {
    color: #e74c3c; /* đỏ */
    font-size: 14px;
    margin: 4px 0 12px;
}

/* Extra info */
.ticket-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

    .ticket-extra .label {
        font-size: 14px;
        color: #555;
    }

    .ticket-extra .value {
        font-weight: bold;
    }

/* Nút mua vé */
.btn-buy {
    width: 100%;
    background: #e50914;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

    .btn-buy:hover {
        background: #b20710;
    }

@media (max-width: 768px) {
    .popup-container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
