label {
    margin: 0;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg-auth.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0, 0.05);
    z-index: 1;
}

main > * {
    position: relative;
    z-index: 2;
}
.auth-container {
    color: white;
    background-color: #17171735;
    width: fit-content;
    min-width: 450px;
    height: fit-content;
    border-radius: 24px;
    backdrop-filter: blur(4px);
}

.auth-box {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.auth-title{
    font-size: 24px;
    font-weight: bold;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
.form-group label {
    font-weight: 600;
    font-size: var(--text-lg);
}
.form-group input {
    outline: none;
    border: none;
    background-color: #EBEBEB;
    border-radius: 16px;
    padding: 12px 16px;
    font-size: 14px;
}

.login-btn, .register-btn {
    outline: none;
    border: none;
    background-color: #DC030E;
    color: white;
    padding: 12px 16px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
}