html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}


/* Hero section */
.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg2.png");
    background-size: cover; /* phóng vừa toàn bộ */
    background-position: center; /* căn giữa ảnh */
    background-repeat: no-repeat; /* không lặp ảnh */
    position: relative;
    display: flex;
    align-items: center;
}

.hero-section-content {
    width: 65%;
    margin: 0 auto;
}

.slogan {
    font-size: 60px;
}

.buy-btn {
    background-color: #E50914;
    padding: 12px 32px;
    border-radius: 60px;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 8px;
}

.buy-btn:hover {
    background-color: #AA060E;
    transition: 0.5s ease-in-out;
}

.buy-btn:active {
    animation: buy-animation 0.5s ease;
}

@keyframes buy-animation {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

/* Trending section */
.trending-section {
    /*    padding: 140px 200px;*/
}

.carousel {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}

.poster-film {
    width: 100%
}

    .poster-film img {
        width: 100%
    }

/* Feature section */
.feature-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.feature-circle {
    height: 50px;
    width: 50px;
    background-color: #E50914;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
    color: white;
}

/* Why book online section */
.reason-card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.reason-card {
    height: 100%;
    background: linear-gradient(#1B2149, #1A0F1C);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reason-card-title {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.reason-card-content {
    color: #ececec;
}

/* FAQ SECTION */
.faq-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.faq-item {
    background-color: #4d4d4d;
}

.faq-toggle {
    transition: all 0.3s;
}

.faq-question {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .faq-question span {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }

    .faq-question i {
        cursor: pointer;
    }

.faq-answer {
    display: none;
    color: white;
    padding: 12px 16px;
    background-color: #686868;
    transition: all 0.3s;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-toggle {
    transform: rotate(45deg);
}

/* */
.email-input {
    outline: none;
    border: 1px solid #707070;
    background-color: transparent;
    padding: 7px 16px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    width: 40%;
}

.get-started-btn {
    background-color: #E50914;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
}

@media-desktop {
}

@media-tablet {
}

@media (max-width: 768px) {
    .hero-section {
        height: 100%;
    }

    .hero-section-content {
        width: 95%;
    }

    .slogan {
        font-size: 24px;
    }

    .buy-btn {
        font-size: 14px;
        padding: 8px 24px;
    }
    /* Trending section */
    .carousel {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    /* Feature section */
    .feature-wrapper {
        flex-direction: column;
    }

    /*  */
    .reason-card-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .reason-card {
        gap: 12px;
    }

    .reason-card-title {
        font-size: 16px;
    }

    .reason-card-content {
        font-size: 14px;
    }

    /*  */
    .get-started-btn, .email-input {
        font-size: 16px;
    }

    .email-input {
        width: 100%;
        flex: 1;
    }
}
