::-webkit-scrollbar {
    display: none;
}

html, body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}
a {
    text-decoration: none;
    color: var(--text-primary);
}
p {
    padding: 0;
    margin: 0;
}

section, .section-padding {
    width: 65%;
    padding: 100px 0px 40px 0px;
    margin: 0 auto;
}

header {
    background-color: #0000002c;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    z-index: 100;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-fixed {
    position: fixed;
}

.header-content {
    margin: 0 auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    border-radius: 100px;
}

.link-group {
    display: flex;
    gap: 12px; 
}

.link-group a:hover {
    color: #ffcc25;
}

.navbar-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

.navbar-container .login-btn {
    background-color: #E50914;
    padding: 12px 24px;
    border-radius: 60px;
    font-weight: bold;
}

.navbar-container .logout-btn {
    background-color: #f0f0f0;
    padding: 12px 24px;
    border-radius: 60px;
    font-weight: bold;
}


/* Search */
.search-ctn {
    border: 1px solid white;
    border-radius: 24px;
    overflow: hidden;
    color: var(--text-primary);
    padding: 8px 16px;
}
.search-ctn input {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-primary);
    text-decoration: none;
}
.search-ctn button {
    outline: none;
    border: none;
    color: var(--text-primary);
    background-color: transparent;
}


.search-ctn input:-webkit-autofill,
.search-ctn input:-webkit-autofill:hover,
.search-ctn input:-webkit-autofill:focus,
.search-ctn input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #00000000 inset !important; /* màu nền mong muốn */
    box-shadow: 0 0 0px 1000px #00000000 inset !important;
    -webkit-text-fill-color: white !important; /* chữ trắng */
    caret-color: white; /* con trỏ trắng */
    transition: background-color 9999s ease-in-out 0s;
}


/* Footer */
footer {
    background-color: var(--bg-primary);
    width: 65%;
    margin: 0 auto;
    padding-bottom: 140px;
}

.footer-link-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-link-wrapper ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-link-wrapper a {
    color: var(--text-secondary);
}

@media (max-width: 768px) {
    section, .section-padding {
        width: 95%;
        padding: 40px 0;
    }
    /* header - mobile */
    .header-fixed {
        position: relative;
    }
    .header-content {
        width: 95%;
    }

    .navbar-container {
        display: none;
    }

    /* footer - mobile */
    footer {
        width: 95%;
    }

    .footer-link-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}


