:root {
    --bg-primary: #0B0B0B;
    --highlight-darkest: #e50914;
    --color-black-600: #4B5563;
    --color-black-100: #0066f6;
    /* Font size */
    --text-xs: 10px;
    --text-sm: 12px;
    --text-md: 14px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 20px;
    --text-3xl: 24px;
    --text-4xl: 28px;
    --text-5xl: 32px;
}
