* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
    min-height: 100vh;
}

.text-base {
    font-size: 16px;
}

.text-lg {
    font-size: 18px;
}

.text-xl {
    font-size: 20px;
}

.text-2xl {
    font-size: 22px;
}

.font-bold {
    font-weight: bold;
}
/* Container chính chia 2 cột: thông tin & thanh toán */
.checkout-container {
    margin: 2rem auto;
    width: 60%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 cột đều nhau */
    gap: 2rem;
    font-family: Arial, sans-serif;
    color: #333;
}


/* Cột thông tin booking */
.booking-info-wrapper {
    height: fit-content;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
}

.booking-info-header {
    background-color: #E50914;
    padding: 16px;
    margin: 0;
    color: white;
}

.booking-info-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.booking-info-footer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid #2e2e2e60;
}

/* Danh sách vé */
.tickets-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.ticket-item {
    font-weight: bold;
}

/* Giá vé */
.ticket-price {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #007bff;
}

/* Cột thanh toán / QR code */
.payment-wrapper {
/*    height: fit-content;*/
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 1rem;
}

    .payment-wrapper img {
        max-width: 80%;
        border-radius: 8px;
    }

.info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm-payment-button {
    outline: none;
    border: none;
    background-color: #E50914;
    color: white;
    padding: 16px 16px;
    border-radius: 16px;
    flex: 1;
    width: 100%;
}

.cancle-payment-button {
    outline: none;
    border: 1px solid #E50914;
    background-color: white;
    color: #E50914;
    padding: 16px 16px;
    border-radius: 16px;
}
