main {
    width: 100%;
    background: #fff;
}

.profile-container {
    width: 65%;
    margin: 0 auto;
    padding: 32px 0;
}

.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: black;
}


.profile-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-header h2 {
    margin: 0;
    font-size: 24px;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info p {
    margin: 5px 0;
    font-size: 16px;
}

.stats-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.stat-card {
    border-radius: 16px;
    box-shadow: 0px 0px 2px 2px #00000010;
    text-align: center;
    padding: 16px 0;
}

.stat-number {
    color: var(--highlight-darkest);
    font-size: var(--text-3xl);
    font-weight: bold;
}

.stat-label {
    color: #000;
    font-size: var(--text-lg);
    font-weight: bold;
}

.card-wrapper {
    margin: 24px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.card-container {
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #00000031;
}

.card-header {
    background-color: var(--highlight-darkest);
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.card-header .title {
    font-size: var(--text-lg);
    font-weight: bold;
}

.card-content {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 300px;
}

.card-content .item {
    display: flex;
    gap: 16px;
    padding: 12px 16px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #383838;
}

.no-ticket {
    margin: 12px 0px;
    text-align: center;
    color: black;
}

.card-content .item:last-child {
    border: none;
}

.card-content .item:hover {
    background-color: #f6f6f6;
}

.card-content .item .icon {
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: black;
}

.info .movie-name {
    font-weight: bold;
    font-size: var(--text-lg);
}

.info .detail {
    font-size: var(--text-md);
}

@media (max-width: 768px) {
    .profile-container {
        width: 95%;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
}
